<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">

    <ul class="side-menu-list"> 
        <li class="sub-list">
            <a [routerLink]="['/dashboard']" routerLinkActive="active-link">
                <img src="../../assets/header-images/list-with-dots.png">
                <span class="lbl">Lists</span>
            </a>
        </li>


        <li class="blue with-sub">
            <a [routerLink]="['/facebook/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/Fb@1x-.png">

                <span class="lbl">Facebook</span>
            </a>
        </li>


        <li class="sub-list">
            <a [routerLink]="['/youtube/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/YouTube@1x-.png">
                <span class="lbl">Youtube</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/instagram/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/Insta@1x-.png">
                <span class="lbl">Instagram</span>
            </a>
        </li>


        <li class="sub-list">
            <a [routerLink]="['/twitter/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/Twitter@1x-.png">

                <span class="lbl">Twitter</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/blogosphere/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/Blog@1x-.png">
                <span class="lbl">Blogosphere</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/linkedin/search']">
                <img src="../../assets/header-images/LinkedIn@1x-.png">
                <span class="lbl"> LinkedIn</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/pinterest/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/Pin@1x-.png">

                <span class="lbl">Pinterest</span>
            </a>
        </li>

        <li class="sub-list">
            <a [routerLink]="['/periscope/search']" routerLinkActive="active-link">
                <img src="../../assets/img/periscope_24.png">

                <span class="lbl">Periscope</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/medium/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/medium.png">

                <span class="lbl">Medium</span>
            </a>
        </li>
        <li class="sub-list">
            <a [routerLink]="['/flickr/search']" routerLinkActive="active-link">
                <img src="../../assets/header-images/flickr_32.png">

                <span class="lbl">Flickr</span>
            </a>
        </li>

        <li class="sub-list">
            <a [routerLink]="['/login']" (click)="logout()" routerLinkActive="active-link">
                <img src="../../assets/header-icon/logout.png">
                <span class="lbl">Logout</span>
            </a>
        </li>
    </ul>

</nav>
