<!-- <alert></alert> -->
<!-- <ng2-slim-loading-bar></ng2-slim-loading-bar> -->
<!-- <app-linkedin-inf></app-linkedin-inf> -->
<app-header></app-header>
<!-- <app-side-menu></app-side-menu> -->
<div class="pagereload"><router-outlet></router-outlet></div>
<app-footer></app-footer>


<!-- local storage.clear -->


<!-- <app-header></app-header> -->
<!-- <div class="pagereload"> -->
  <!-- <router-outlet (activate)="scrollTop()" #outlet></router-outlet> -->
<!-- </div> -->
   <!-- <app-footer></app-footer> -->