<div class="sidebar-holder side-bar-component" id="side">
    <div class="sidebar-admin">
        
        <div class="user-sidebar">
                <!-- <div class="sidebar-dashboard-title">
                        My RFPGurus
                </div> -->
            <ul>
            
                <li >
                                <a [routerLink]="['/my-profile']"> 
                                        <i class="fa fa-user-circle"></i>My Profile</a>
                                        
                              </li>
                              <li >
                                        <a [routerLink]="['/pricingsub']"> <i class="fa fa-history"></i>Subscription</a>
                              </li>
                              <li >
                                        <a [routerLink]="['/paymentmethod']"> <i class="fa fa-history"></i>Payment Method</a>
                        </li>
                <li>
                                <a [routerLink]="['/gmail']"> <i class="fa fa-history"></i>Gmail</a>
                </li>

                <li>
                                <a [routerLink]="['/blogosphere/search']" > <i class="fas fa-globe"></i>Web Campaign</a>
                </li>

                <li>
                                <a [routerLink]="['/facebook/search']" > <img class="dropdown-images" src="../../assets/header-images/Fb@1x-.png">facebook Campaign</a>
                </li>
                <li>
                        
                                <a [routerLink]="['/youtube/search']"> <img class="dropdown-images" src="../../assets/header-images/YouTube@1x-.png" >Youtube Campaign</a>
                </li>
           
                <!-- <li><a routerLink="/AddRfps" routerLinkActive="active-route">
                        <i class="fa fa-file-text-o"></i>Add RFP's</a>
                </li> -->
                

                <li>
                                <a [routerLink]="['/instagram/search']"> <img class="dropdown-images" src="../../assets/header-images/Insta@1x-.png">instagram Campaign</a>
                </li>

                <li>
                                <a [routerLink]="['/twitter/search']"><img  class="dropdown-images" src="../../assets/header-images/Twitter@1x-.png">Twitter Campaign</a>
                </li>
                <li>
                                <a [routerLink]="['/blogosphere/search']"><img class="dropdown-images" src="../../assets/header-images/Blog@1x-.png">Blogosphere Campaign</a>
                </li>
                <!-- <li> <a routerLink="/contact-us">
                        <i class="fa fa-comment"></i>
                        Contact Us</a>
                </li> -->
                <li>
                                <a [routerLink]="['/pinterest/search']"><img class="dropdown-images" src="../../assets/header-images/Pin@1x-.png">Pinterest Campaign</a>
                </li>
              
                        <li>
                                        <a [routerLink]="['/medium/search']"><img class="dropdown-images" src="../../assets/header-images/medium.png">Medium Campaign</a>
                                </li>
                                <li>
                                                <a [routerLink]="['/flickr/search']"> <img class="dropdown-images" src="../../assets/header-images/flickr_32.png">Flicker Campaign</a>
                                        </li>
                                        <li>
                                                        <a class="rfm-anchor" [routerLink]="['/my-rfm']"> <i class="fas fa-bookmark"></i>RFM
                                                                <div class="dropdown-content rfm-dropdown">
                                                                        <a [routerLink]="['/my-rfm']"> <i class="fas fa-book-reader"></i>My RFM</a> 
                                                                        <a [routerLink]="['/rfm']"> <i class="fas fa-plus"></i>Create RFM</a> 
                                                                 </div>
                                                                </a>
                                                </li>
                                                <li>
                                                                <a [routerLink]="['/update-password']"> <i class="fa fa-key"></i>Change Password</a> 
                                                        </li>
                                                        <li>
                                                                        <a [routerLink]="['/login']" (click)="logout()"> <i class="fas fa-sign-out-alt"></i>Logout</a>
                                                                </li>
            </ul>
        </div>
    </div>
</div>




        
        
        
        
       
         
        
         
      
            
           
           
             