

<section class="d-flex">
<div class="facebook-sidebar">
    <form (submit)="setPage(1)" class=" sidebar-forms  m-0">
        <div class="row">
            <div class="col-md-12">
                <mat-select class="mt-5 mb-3"  name="selected_choice"  [(ngModel)]="selected_category" (change)="getCatName($event)"
                            placeholder="Select Category" style="width:100%!important">
                    <mat-option *ngFor="let choice of options" [value]="choice">{{ choice }}</mat-option>
                </mat-select>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput type="text"[(ngModel)]="user_name" placeholder="Search by Title/Name" name="contact">
                </mat-form-field>
            </div>
        

            <div class="col-md-12">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="tw_name" placeholder="Search by Twitter name" name="social">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="location" placeholder="Search by Location" name="seo">
                </mat-form-field>
            </div>
       
            <div class="col-md-12 row">
                <!-- <mat-label>Search by Followers</mat-label> -->
                <div class="col-md-12"><h5 class="m-0"><i class="fa fa-users"></i> Followers</h5></div>
                <div class="col-md-6">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="minfollowers" placeholder="Min Followers" name="loc" class="example-right-align" >
               
                </mat-form-field>
            </div>
          
            <div class="col-md-6">
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="maxfollowers" placeholder="Max Followers" name="loc2" class="example-right-align">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12 row">
                    <!-- <mat-label>Search by Following</mat-label> -->
                    <div class="col-md-12"><h5 class="m-0"><i class="fa fa-eye"></i> Following</h5></div>
                    <div class="col-md-6">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="minfollowing" placeholder="Min Following" name="fl" class="example-right-align">
                </mat-form-field>
            </div>
         
                <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="number" [(ngModel)]="maxfollowing" placeholder="Max Following" name="fl2" class="example-right-align">
                        </mat-form-field>
                    </div>
                </div>

            <div class="col-md-12 row">
                    <!-- <mat-label>Search by Likes</mat-label> -->
                    <div class="col-md-12"><h5 class="m-0"><i class="fas fa-heart"></i> Likes</h5></div>
                    <div class="col-md-6">                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="minlikes" placeholder="Min Likes" name="er" class="example-right-align">
                </mat-form-field>
            </div>

            
            <div class="col-md-6">
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="maxlikes" placeholder="Max Likes" name="er2" class="example-right-align">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit"  class="btn btn-primary" >
                    Search <i class="fa fa-sliders"></i>
                </button>
            </div>
        </div>
    </form>

    
</div>
<div class="facebook-content">
<div class="page-content" style="padding-right:15px;">

    <div class="row">
        <div class="container-fluid ">
            <!-- <mat-tab-group  >


                <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
                    <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Category Search
									</span>
                    </ng-template>
                    <div class="body">


                        <div class="row">
                            <div class="col-md-3">
                                <h6 class="influencer-hading" > Twitter Influencers</h6>
                            </div>
                            <div class="col-md-6 text-center p-auto">

                                <mat-form-field>
                                      <mat-select placeholder="Select Category" [(ngModel)]="cat">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>

                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit"  class="btn btn-primary" (click)="getTWInfluencers()">
                                    Search <i class="fa fa-sliders"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
                    <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
										<i class="fa fa-fire"></i>
                                    Advanced Search
									</span>
                    </ng-template>
                    <div class="body">
                        <div class="container">
                            <form (submit)="setPage(1)" class=" social-forms  m-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-select class="mt-3"  name="selected_choice"  [(ngModel)]="selected_category" (change)="getCatName($event)"
                                                    placeholder="Select Category" style="width:100%">
                                            <mat-option *ngFor="let choice of options" [value]="choice">{{ choice }}</mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text"[(ngModel)]="user_name" placeholder="Search by Title/Name" name="contact">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row Advanced-search">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="tw_name" placeholder="Search by Twitter name" name="social">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="location" placeholder="Search by Location" name="seo">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row Advanced-search">
                                    <div class="col-md-6">
                                        <mat-label>Search by Followers</mat-label>
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="followers" placeholder="Search by Followers" name="loc">
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input matInput type="text" [(ngModel)]="maxfollowers" placeholder="Maximum Followers" name="flr2">
                                            </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                            <mat-label>Search by Following</mat-label>
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="following" placeholder="Search by Followers" name="er">
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input matInput type="text" [(ngModel)]="maxfollowing" placeholder="Maximum Following" name="fl2">
                                            </mat-form-field>
                                    </div>
                                </div>

                                <div class="row Advanced-search" >
                                    <div class="col-md-6">
                                            <mat-label>Search by Likes</mat-label>
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="likes" placeholder="Search by Likes" name="er">
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input matInput type="text" [(ngModel)]="maxlikes" placeholder="Maximum by Likes" name="like2">
                                            </mat-form-field>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit"  class="btn btn-primary" >
                                            Search <i class="fa fa-sliders"></i>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </mat-tab>
            </mat-tab-group> -->
        </div>
    </div>





    <div class="container-fluid" *ngIf="loaded && influencers.totalItems!=0">
        <div class="row p-2 mt-1"  id="myHeader" >
           <div class="col-md-2">
                <div id="ck-button">
                        <label>
    
                            <input type="checkbox" class="checkbox" (change)="cheakall($event.target.checked)" ><span>Select All</span>
                        </label>
                    </div>
           </div>
          
            <div class="col-md-8 ">
                    <nav class="text-center">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">
    
                            <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
                            <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
                            <!--</li>-->
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                                    First
                                </a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
    
                            <li class="page-item" *ngFor="let page of pager.pages"
                                [ngClass]="{active:pager.currentPage === page}"
                                (click)="setPage(page)"><a class="page-link" (click)="navSearch()">{{page}}</a></li>
                            <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                            <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
                            <!--</li>-->
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                                    Last
                                </a>
                            </li>
                            <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                            <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                            <!--</li>-->
                        </ul>
                    </nav>
                </div>
            <div class="col-md-2 ">
          

                <button  class="btn add-to-list" (click)="add_create_list()"> Add to list</button>

            </div>
            <div class="col-md-12 text-center">
                    <h5 style="margin: 10px">Displaying {{influencers.results.length}} of {{influencers.totalItems}} Results</h5>
    
                </div>
        </div>

   


        <div class="profile-container"  *ngFor="let item of influencers.results">
            <div class="row m-0 p-0 p-2">
      
      
              <div class="col-md-1 profile-checkbox" type="checkbox">
                    <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                            <label class="custom-control-label" for="table-check-{{item['id']}}"></label>
                          </div>
              </div>
              <div class="col-md-1 followers-division">
                <img [src]="item['image_url']" class="twitter-image" >
              </div>
      
      
          
                <div class="col-md-1 followers-division">
                        <h6 class="m-1">Likes:</h6>
                        <h3 class="Follwers-div" >{{item['likes'] | thousandSuff}}</h3>
                </div>
                <div class="col-md-9">
                        <div class="d-flex">
                                <img  class="social-icon2" src="../../assets/img/twitter.png">
                          <label class="tbl-cell tbl-cell-name">{{item['twitter_name']}}</label>
                          </div>
                    <div class="ml-4">
                  <label class="item-content"  title="{{item['description']}}">{{item['description']}}</label>
                </div>
                <div class="ml-4">
                <!-- <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Profile:  <a style="color: #0a6aa1; font-weight: bolder">{{item['tweets_count']}}</a></label> -->
                <span class="right-item" ><i class="fab fa-twitter"></i>Profile Link: </span> <span class="list-item1" (click)="goTwitterProfile_by_default(item['profile_url'])">{{item['profile_url']}}</span>
                <div>
                <span class="right-item" ><i class="fas fa-globe"></i>Web Link: </span> <span class="list-item1" (click)="goTwitterProfile(item['website'])">{{item['website']}}</span>
            </div>    
            </div>
                 <div class="row">
                  <div class="col-md-4">
                        <div class="ml-4">

                            <div>
                    <span class="right-item"><i class="fa fa-users" ></i>Follower:</span> <span class="list-item1">{{item['followers']| thousandSuff}}</span> 
                </div>
                <div>
                <span class="right-item"> <i class="fa fa-eye" ></i>Following:</span> <span class="list-item1">{{item['following'] | thousandSuff}}</span>
            </div>
        </div>
      
                </div>
                <div class="col-md-4" >
                <div>
                        <span class="right-item"> <i class="fab fa-twitter" ></i>Tweets :</span> <span class="list-item1">{{item['tweets_count'] | thousandSuff}}  </span>
                    </div>
                    <div>
                        <span class="right-item"><i class="fa fa-upload" ></i>Joined Date :</span> <span class="list-item1">{{item['joined_date']}}</span> 
                    </div>
                </div>
                    <div class="col-md-4">
                            <div>
                                    <span class="right-item"><i class="fa fa-user" ></i>Twitter name:</span> <span class="list-item1">{{item['twitter_name']}}</span>
                                </div>
                                <div>
                                        <!-- <span class="right-item"><i class="fa fa-random" ></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span> -->
                                </div>
                    </div>
            </div>
            </div>
   
          </div>
        </div>


<div class="col-md-12 p-2 mt-1 ">
        <nav class="text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">

                <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
                <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
                <!--</li>-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                        First
                    </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}"
                    (click)="setPage(page)"><a class="page-link" (click)="navSearch()">{{page}}</a></li>
                <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
                <!--</li>-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                        Last
                    </a>
                </li>
                <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                <!--</li>-->
            </ul>
        </nav>
    </div>
</div>
<div class="container-fluid">
        <!--<p-slider [(ngModel)]="val" [min]="0" [max]="100"></p-slider>-->


        <div *ngIf="inCurrentpage && loaded" class="row" style="text-align: left">
            <div class="col-sm-6">
                <h6>Current list is <b style="font-size: 24px">{{currentlist.name}} </b> </h6>

            </div>
            <div class="col-sm-6" style="text-align: -webkit-right">
            <a style="font-size: 24px; "  (click)="go_to_twitter_list(currentlist.id, currentlist.name)" >Show all influencers in this <b> List</b></a>
            </div>
            </div>

        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>


        <div class="container-fluid" *ngIf="!loaded && influencers_by_defalut.totalItems!=0">

                <div class="row mt-3" id="myHeader">
                        <div class="col-md-2">
                            <!--<button  class="btn btn-success">Select All</button>-->
                            <div id="ck-button">
                                <label>
                
                                    <input type="checkbox" class="checkbox" (change)="cheakalldef($event.target.checked)" ><span>Select All</span>
                                </label>
                            </div>
                            </div>
                            <div class="col-md-8 text-center">
                                
                <div  *ngIf="!loaded" >
                    <h4 class="m-0" >Featured Twitter Influencers</h4>
                
                
                </div>
                            </div>
                            <div class="col-md-2">
                            <button  class="btn btn-priamry add-to-list" (click)="add_create_list()"> Add to list</button>
                        </div>
                
                
                </div>

                <div class="profile-container" *ngFor="let item of influencers_by_defalut.results" >
                    <div class="row m-0 p-0 p-2">
              
              
                      <div class="col-md-1 profile-checkbox" type="checkbox">
                            <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                                    <label class="custom-control-label" for="table-check-{{item['id']}}"></label>
                                  </div>
                      </div>
                      <div class="col-md-1 followers-division">
                        <img [src]="item['image_url']" class="twitter-image" >
                      </div>
              
              
                  
                        <div class="col-md-1 followers-division">
                                <h6 class="m-1">Likes:</h6>
                                <h3 class="Follwers-div" >{{item['likes'] | thousandSuff}}</h3>
                        </div>
                        <div class="col-md-9">
                                <div class="d-flex">
                                        <img  class="social-icon2" src="../../assets/img/twitter.png">
                                  <label class="tbl-cell tbl-cell-name">{{item['twitter_name']}}</label>
                                  </div>
                            <div class="ml-4">
                          <label class="item-content"  title="{{item['description']}}">{{item['description']}}</label>
                        </div>
                        <div class="ml-4">
                        <!-- <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Profile:  <a style="color: #0a6aa1; font-weight: bolder">{{item['tweets_count']}}</a></label> -->
                        <span class="right-item" ><i class="fab fa-twitter"></i>Profile Link: </span> <span class="list-item1" (click)="goTwitterProfile_by_default(item['profile_url'])">{{item['profile_url']}}</span>
                        <div>
                        <span class="right-item"><i class="fas fa-globe"></i>Web Link: </span> <span class="list-item1" (click)="goTwitterProfile(item['website'])">{{item['website']}}</span>
                    </div>
                        </div>
                         <div class="row">
                          <div class="col-md-4">
                                <div class="ml-4">
    
                                    <div>
                            <span class="right-item"><i class="fa fa-users" ></i>Follower:</span> <span class="list-item1">{{item['followers']| thousandSuff}}</span> 
                        </div>
                        <div>
                        <span class="right-item"> <i class="fa fa-eye" ></i>Following:</span> <span class="list-item1">{{item['following'] | thousandSuff}}</span>
                    </div>
                </div>
              
                        </div>
                        <div class="col-md-4" >
                        <div>
                                <span class="right-item"> <i class="fab fa-twitter" ></i>Tweets :</span> <span class="list-item1">{{item['tweets_count'] | thousandSuff}}  </span>
                            </div>
                            <div>
                                <span class="right-item"><i class="fa fa-upload" ></i>Joined Date :</span> <span class="list-item1">{{item['joined_date']}}</span> 
                            </div>
                        </div>
                            <div class="col-md-4">
                                    <div>
                                            <span class="right-item"><i class="fa fa-user" ></i>Twitter name:</span> <span class="list-item1">{{item['twitter_name']}}</span>
                                        </div>
                                        <div>
                                                <!-- <span class="right-item"><i class="fa fa-random" ></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span> -->
                                        </div>
                            </div>
                    </div>
                    </div>
           
                  </div> 
                </div>
        <div class="container-fluid" *ngIf="loaded && influencers.totalItems!=0">

            <div class="row" id="myHeader">
                <div class="col-md-12 list-row">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button  class="btn btn-success">Select All</button>-->
                            <div id="ck-button">
                                <label>

                                    <input type="checkbox"  (change)="cheakall($event.target.checked)" ><span>Select All</span>
                                </label>
                            </div>

                            <button  class="btn btn-success " (click)="add_create_list()"> Add to list</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-container" *ngFor="let item of influencers.results" >
                <div class="row">


                    
                    <div class="col-md-2 text-center">
                        <img [src]="item['image_url']"  style="height: 100px;  width: 100px; margin-top: 15px; border-radius: 100%">
                    </div>
                    <div class="col-md-2 profile-checkbox" type="checkbox">
                            <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                                    <label class="custom-control-label" for="table-check-{{item['id']}}"></label>
                                  </div>
                        </div>

                    <div class="col-md-8" style="margin-left: 3%">
                        <div class="row">
                            <label class="tbl-cell tbl-cell-name">{{item['user_name']}}</label>
                        </div>
                        <div class="row" style="padding-top: 8px">
                        </div>
                        <div class="row" style="padding-top: 8px">
                            <div class="col-md-3 text-left">
                                <label class="item-loc"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i>  <span class="list-item1"> {{item['location']}}</span></label>

                            </div>
                            <div class="col-md-6 text-left">

                                <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Profile Url:  <a style="color: #0a6aa1; font-weight: bolder">{{item['profile_url']}}</a></label>
                            </div>
                            <div class="col-md-3 text-left">

                                <label class="item-loc"> <i class="fa fa-random" style="font-size:16px;color:#c00; "></i> Tweets:  <a style="color: #0a6aa1; font-weight: bolder">{{item['tweets_count']}}</a></label>
                            </div>
                        </div>
                        <hr style="color: #555555">
                        <div class="row" >
                            <ul style="display: flex; padding-top: 5px">
                                <li><span class="right-item"><i class="fa fa-users" style="font-size:16px;color:#0a4069"></i> Follower:</span> <span class="list-item1">{{item['followers'] | thousandSuff}} </span> </li>
                                <!-- <li><span class="right-item"> <i class="fa fa-eye" style="font-size:16px;color:#0a4069"></i> Following:</span> <span class="list-item1">{{item['following']  | thousandSuff}}    </span></li> -->

                                <li><span class="right-item"><i class="fa fa-users" ></i> Following:</span>
                                    <span *ngIf="item['subscribers']<1000" class="right-item"><span class="label label-danger" style="background: #cc0000"> {{item['following'] | thousandSuff}}</span></span>
                                    <span *ngIf="item['subscribers']>1000 && item['subscribers']<50000" class="right-item"><span class="label label-primary" style="background: #0095ff"> {{item['following'] | thousandSuff}}</span></span>
                                    <span *ngIf="item['subscribers']>50000" class="right-item"><span class="label label-success"> {{item['following'] | thousandSuff}}</span></span>
    
                                </li>
                                <li><span class="right-item"><i class="fa fa-bar-chart" style="font-size:16px;color:#0a4069"></i> Likes:</span> <span class="list-item1">{{item['likes']}}</span></li>
                                <li><span class="right-item"><i class="fa fa-user" style="font-size:16px;color:#0a4069"></i> Twitter name:</span> <span class="list-item1">{{item['twitter_name']}}</span></li>

                            </ul>
                        </div>
                        <hr style="color: #555555">
                        <div class="row" >
                            <ul style="display: flex; padding-top: 5px">
                                <!--<li style="font-weight: bolder"> Videos Uploads | </li>-->
                                <!--<li><span class="right-item"> <i class="fa fa-file-video-o" style="font-size:16px;color:#0a4069"></i> Tweets :</span> <span class="list-item1">{{item['tweets_count']}} |   </span></li>-->
                                <li><span class="right-item"><i class="fa fa-upload" style="font-size:16px;color:#0a4069; padding-left: 5px"></i> Joined Date :</span> <span class="list-item1">{{item['joined_date']}} |  </span> </li>
                                <li><span class="right-item"><i class="fa fa-newspaper-o" style="font-size:16px;color:#0a4069"></i>  Web Link: </span> <span class="list-item1" (click)="goTwitterProfile(item['website'])">{{item['website']}}</span></li>
                                <!--<li><span class="right-item"><i class="fa fa-random" style="font-size:16px;color:#0a4069"></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span></li>-->

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <p-dialog *ngIf="dialogVisible_features" [(visible)]="dialogVisible_features" [responsive]="true"
                  showEffect="fade"
                  [modal]="true" width="450">
            <p-header *ngIf="dialogVisible_features">

                Interests of {{interests.name}}

            </p-header>
            <ul class="list-group">
                <li *ngIf="interests.infscore.interests" class="list-group-item">Interests:
                    <ul>
                        <li *ngFor="let c of interests.infscore.interests" class="list-group-item"
                            style="text-align: right;">{{c}}
                        </li>

                    </ul>
                </li>
                <li *ngIf="interests.trend " class="list-group-item">Category:
                    <ul>

                        <li>
                            <ul *ngFor="let c of interests.trend " class="list-group-item" style="text-align: right;">
                                <li *ngFor="let cat of c.category | unique: 'name'">
                                    {{cat.name}}

                                </li>
                                <li *ngIf="!c.location">
                                    {{c.name}}
                                </li>
                                <!--<li *ngFor="let c of interests.trend" class="list-group-item" style="text-align: right;"> <span *ngIf="c.category[1].name">{{c.category[1].name}}</span></li>-->
                            </ul>

                        </li>


                    </ul>
            </ul>
        </p-dialog>

        <p-dialog *ngIf="dialogVisible" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true"
                  width="450">
            <p-header *ngIf="dialogVisible">

                Stats of {{twitterdata.name}}

            </p-header>
            <ul class="list-group">
                <li *ngIf="twitterdata.followers_count" class="list-group-item"><span>Followers:</span>
                    <span style="float: right;">{{twitterdata.followers_count}}</span></li>

                <li *ngIf="twitterdata.favourites_count" class="list-group-item"><span>Favourites:</span>
                    <span style="float: right;">{{twitterdata.favourites_count}}</span></li>
                <li *ngIf="twitterdata.friends_count" class="list-group-item"><span>Friends:</span>
                    <span style="float: right;">{{twitterdata.friends_count}}</span></li>


            </ul>
        </p-dialog>

        <div class="container-fluid" *ngIf="loaded">

        </div>

</div>

</div>

<!-- <app-footer></app-footer> -->
</div>