<div class="page-content">
    <div class="container-fluid">
  
      <div class="container-fluid" *ngIf="loaded && influencers.totalItems==0">
        <div class="box-typical box-typical-full-height" style="min-height: 119px;">
          <div class="add-customers-screen tbl" style="height: 119px;">
            <div class="add-customers-screen-in">
              <div class="add-customers-screen-user">
                <i class="font-icon font-icon-user"></i>
              </div>
              <h2>OOPS!</h2>
              <p class="lead color-blue-grey-lighter">Zero influencers in the list.<br> Add some influencers <strong></strong></p>
              <!--<a href="#" class="btn">Add customer</a>-->
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="container-fluid" *ngIf="loaded">
  
        <div class="row" id="myHeader">
          <div class="col-md-4">
            <nav>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">
  
                <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
                <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
                <!--</li>-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                    First
                  </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
  
                <li class="page-item" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}"
                    (click)="setPage(page)"><a class="page-link">{{page}}</a>
                </li>
                <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
                <!--</li>-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                    Last
                  </a>
                </li>
                <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                <!--</li>-->
              </ul>
            </nav>
          </div>
          <div class="col-md-8">
  
            <!--<button  style="width:70%;font-size: x-large;font-weight: bold;" class="btn btn-rounded">Login</button>-->
  
            <inline-editor [disabled]="loading" class="bootstrap-table-header" type="text" [(ngModel)]="list_name" min="1"
                           max="30" [fnErrorLength]="myHandleError" (onSave)="saveEditable($event)" name="editableText1" size="30"></inline-editor>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAA
                          GJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJ
                          CgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAd
                          Ka+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7W
                          EYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhm
                          KtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZf
                          hYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunI
                          nK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEA
                          AQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJC
                          gAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLW
                          zpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtq
                          lAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <button  class="btn btn-success" (click)="update_delete_list()">
              <!--<i class="font-icon font-icon-close-2"></i> -->
              Delete selected
            </button>
            <button  class="btn btn-success" (click)="clear_list()">
              <!--<i class="font-icon font-icon-close-2"></i> -->
              Clear selected
            </button>
          </div>
  
        </div>
  
  
        <div class="profile-container" *ngFor="let item of influencers.results" >
          <div class="row main-div">
  
  
  
            <div class="col-md-3 image-area">
  
              <div class="p-checkbox" type="checkbox">
                <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                <label for="table-check-{{item['id']}}"></label>
              </div>
              <div class="p-img">
                <img *ngIf="item['image_url']" [src]="item['image_url']">
                <img *ngIf="!item['image_url']" src="../../assets/no-image-found.jpg">
              </div>
  
  
  
            </div>
  
  
            <div class="col-md-9 detail-area" >
  
              <h3 class="">
                <img src="../../assets/img/twitter.png">
                {{item['user_name']}}
              </h3>
              <div class="row">
                <!--<label class="item-content" style="overflow: hidden;-->
                <!--text-overflow: ellipsis;-->
                <!--display: -webkit-box;-->
                <!-- -webkit-box-orient: vertical;-->
                <!-- -webkit-line-clamp: 2;" title="{{item['description']}}">{{item['description']}}</label>-->
              </div>
              <div class="row" >
                <div class="col-md-3 text-left">
                  <label class="item-loc"> <i class="fa fa-map-marker" ></i>  <span class="list-item1"> {{item['location']}}</span></label>
  
                </div>
                <div class="col-md-6 text-left">
  
                  <label class="item-loc"> <i class="fa fa-location-arrow" ></i> Profile Url:  <a >{{item['profile_url']}}</a></label>
                </div>
                <div class="col-md-3 text-left">
  
                  <label class="item-loc"> <i class="fa fa-random" ></i> Tweets:  <a >{{item['tweets_count']}}</a></label>
                </div>
              </div>
              <hr style="color: #555555">
              <div class="item-loc" >
                <ul style="display: flex; justify-content: space-between">
                  <li>
                    <span class="right-item"><i class="fa fa-users" ></i> Follower:</span>
                    <span *ngIf="item['followers']<1000" class="list-item1"><span class="label label-danger">{{item['followers']| thousandSuff}}</span></span>
                    <span *ngIf="item['followers']>1000 && item['followers']<5000" class="list-item1"><span class="label label-primary"> {{item['followers']| thousandSuff}}</span></span>
                    <span *ngIf="item['followers']>5000" class="list-item1"><span class="label label-success">{{item['followers']| thousandSuff}}</span></span>
  
                  </li>
  
                  <li><span class="right-item"> <i class="fa fa-eye" ></i> Following:</span> <span class="list-item1">{{item['following']| thousandSuff}}    </span></li>
                  <li><span class="right-item"><i class="fa fa-bar-chart" ></i> Likes:</span>
  
  
                    <span *ngIf="item['likes']<1000" class="list-item1"><span class="label label-danger"><small>Poor</small> {{item['likes']| thousandSuff}}</span></span>
                    <span *ngIf="item['likes']>1000 && item['likes']<5000" class="list-item1"><span class="label label-primary">Normal {{item['likes']| thousandSuff}}</span></span>
                    <span *ngIf="item['likes']>5000" class="list-item1"><span class="label label-success"><small>Perfect</small> {{item['likes']| thousandSuff}}</span></span>
  
                  </li>
                  <li><span class="right-item"><i class="fa fa-user"></i> Twitter name:</span> <span class="list-item1">{{item['twitter_name']}}</span></li>
  
                </ul>
              </div>
              <hr style="color: #555555">
              <div class="item-loc" >
                <ul style="display: flex;  justify-content: space-between">
                  <!--<li style="font-weight: bolder"> Videos Uploads | </li>-->
                  <!--<li><span class="right-item"> <i class="fa fa-file-video-o" ></i> Tweets :</span> <span class="list-item1">{{item['tweets_count']}}    </span></li>-->
                  <li><span class="right-item"><i class="fa fa-upload"></i> Joined Date :</span> <span class="list-item1">{{item['joined_date']}}   </span> </li>
                  <li *ngIf="item['website']"><span class="right-item"><i class="fa fa-newspaper-o" ></i>  Web: </span> <span class="list-item1">{{item['website']}}</span></li>
                  <li *ngIf="!item['website']"><span class="right-item"><i class="fa fa-newspaper-o" ></i>  Web: </span> <span class="list-item1">N/A</span></li>
                  <!--<li><span class="right-item"><i class="fa fa-random" ></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span></li>-->
  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <p-dialog *ngIf="dialogVisible_features" [(visible)]="dialogVisible_features" [responsive]="true" showEffect="fade"
                [modal]="true" width="450">
        <p-header *ngIf="dialogVisible_features">
  
          Interests of {{interests.name}}
  
        </p-header>
        <ul class="list-group">
          <li *ngIf="interests.infscore.interests" class="list-group-item">Interests:
            <ul>
              <li *ngFor="let c of interests.infscore.interests" class="list-group-item"
                  style="text-align: right;">{{c}}
              </li>
            </ul>
          </li>
          <li *ngIf="interests.trend " class="list-group-item">Category:
            <ul>
              <li>
                <ul *ngFor="let c of interests.trend " class="list-group-item" style="text-align: right;">
                  <li *ngFor="let cat of c.category | unique: 'name'">
                    {{cat.name}}
  
                  </li>
                  <li *ngIf="!c.location">
                  {{c.name}}
                </li>
  
                  <!--<li *ngFor="let c of interests.trend" class="list-group-item" style="text-align: right;"> <span *ngIf="c.category[1].name">{{c.category[1].name}}</span></li>-->
                </ul>
  
              </li>
              <li>
                <!--<ul *ngFor="let c of interests.trend " class="list-group-item" style="text-align: right;">-->
                 <!---->
                  <!--&lt;!&ndash;<li *ngFor="let c of interests.trend" class="list-group-item" style="text-align: right;"> <span *ngIf="c.category[1].name">{{c.category[1].name}}</span></li>&ndash;&gt;-->
                <!--</ul>-->
  
              </li>
              <!--<li *ngIf="interests.infscore.interests" class="list-group-item">Interests:-->
              <!--<ul>-->
              <!--<li *ngFor="let c of interests.infscore.interests" class="list-group-item" style="text-align: right;">{{c}}</li>-->
              <!--</ul>-->
              <!--</li>-->
            </ul>
        </ul>
      </p-dialog>
  
      <p-dialog *ngIf="dialogVisible" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true"
                width="450">
        <p-header *ngIf="dialogVisible">
  
          Stats of {{twitterdata.name}}
  
        </p-header>
        <ul class="list-group">
          <li *ngIf="twitterdata.followers_count" class="list-group-item"><span>Followers:</span>
            <span style="float: right;">{{twitterdata.followers_count}}</span></li>
  
          <li *ngIf="twitterdata.favourites_count" class="list-group-item"><span>Favourites:</span>
            <span style="float: right;">{{twitterdata.favourites_count}}</span></li>
          <li *ngIf="twitterdata.friends_count" class="list-group-item"><span>Friends:</span>
            <span style="float: right;">{{twitterdata.friends_count}}</span></li>
  
  
        </ul>
      </p-dialog>
  
      <div class="container-fluid" *ngIf="loaded">
  
      </div>
    </div>
  
  </div>
  
  