

.sidebar-admin {
  padding: 0;
  min-height: 100%;
  color: #fff;
}

.user-sidebar {
  padding: 60px 0 0 0;
}

.side-bar-component .user-sidebar ul li {
  list-style: none;
  padding: 0;
  margin: 0;

  &:active-route {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  a {
    color: #555;
    font-size: 16px !important;
    padding: 12px 0 12px 18px;
    display: block;
    font-weight: 600;
    outline: 0 !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

    i {
      margin-right: 9px;
      font-size: 20px;
      vertical-align: text-bottom;
    }

    &:hover {
      background-color: #f5f5f5;
      text-decoration: none;
    }
  }
}

.active-route {
  background-color: #f5f5f5 !important;
  color: #555 !important;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

/* ................... */

.sidebar-dashboard-title {
  text-align: center;
  font-size: 30px;
  color: #555;
  font-weight: 500;
}

.absolute-drp {
  position: absolute !important;
  top: 0 !important;
  right: 100% !important;
  display: none !important;
}

.rfmdd:hover .absolute-drp {
  display: block !important;
}

.fa-user-circle {
  color: #ff6347;
}

.fa-history {
  color: #fb1893;
}

.fa-key {
  color: #4cdc6b;
}

.fa-sign-out-alt {
  color: #c00;
}

.fa-bookmark {
  color: #e0e00b;
}

.fa-book-reader {
  color: #9acd32;
}

.fa-plus {
  color: #7a00f5;
}

.icon-dropdown {
  float: right;
  margin-right: 23px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 12px;
  top: 21px;
}

.rfm-dropdown {
  padding: 7px;
  width: 100%;
}

.dropdown-images {
  margin-right: 5px;
  width: 25px;
}


.example-full-width input{
  width:102%!important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 0.5px;

}
.nav-Bar span{
  font-weight: 600;
}
.btn-rounded{
  background: #000;
  color: #fff;
  text-align: center;
  margin-top: 3%;
  border-color: black;
  font-size: 17px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.btn.btn-info:hover{
  background-color: black!important;
  border-color: black!important;
}
.left_side{
  padding: 10px 0 0  20px;
}
.modal-content{
  width: 55%!important;
}
.modal-header{
  background-color: black;
  color: white;
  font-size: 18px;
}
.modal-header .close{
  color: white;
  font-weight: bolder;
}

md-placeholder{
  margin: 7%!important;
  font-size: 23px!important;

}

.modal-content {
  margin-top: 40% !important;
}
.btn-rounded{
  font-size: 17px!important;
}

body
{
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
}
.popup-close-button{
  width: 50px;
  height: 50px;
  border-radius: 38px;
  background: #000000;
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: #fff;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}
.card-header{
  width: 82%;
  height: 50px;
  border-radius: 5px;
  background: #000000;
  position: absolute;
  top: -25px;
  right: 70px;
  padding: 1px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: #fff;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}
.modal-content{
  width: 115%!important;
}
[placeholder], input[placeholder]{
  color: #0A0A0A!important;

}
.example-full-width input{
  width: 100%;
  border-radius: 5px;

}
.mat-form-field-placeholder-wrapper{
  margin: 1%!important;
  font-size: 23px!important;
}

.popup-close-button{
  width: 50px;
  height: 50px;
  border-radius: 38px;
  background: #000000;
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: #fff;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}
.card-header{
  width: 82%;
  height: 50px;
  border-radius: 5px;
  background: #000000;
  position: absolute;
  top: -25px;
  right: 70px;
  padding: 1px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: #fff;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}
.modal-content{
  width: 115%!important;
}
[placeholder], input[placeholder]{
  color: #0A0A0A!important;

}
md-tab-group{
  box-shadow: 0 1px 5px #ccc;
  box-shadow: 0 1px 5px #ccc;
}
section{
  box-shadow: 0 1px 5px #ccc;
  box-shadow: 0 1px 5px #ccc;
}
.body{
  background-color: #f9f9f9!important;
}
md-form-field{
  width: 75%;
  line-height: 0.95;
}
.col-md-6{
  margin-top: 0!important;
}
.btn-rounded {
  background: #000;
  color: #fff;
  text-align: center;
  margin-top: 3%;
  border-color: black;
  font-size: 17px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.profile-container{
  width: 100%;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  /*box-shadow: 0 3px 4px 0 #bdbdc3;*/
  box-shadow: 0 1px 5px #ccc;
  max-width: 1200px;
  display: inline-block;
  /*height: 165px;*/
  margin-top: 18px;
}
.loaded-container{
  width: 100%;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  /*box-shadow: 0 3px 4px 0 #bdbdc3;*/
  box-shadow: 0 1px 5px #ccc;
  max-width: 1200px;
  /*height: 300px;*/
  /*display: inline-block;*/
  margin-top: 18px;
}
.profile-checkbox {
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 65px;
  /* height: 100%; */
  /* padding-left: 12px; */
  padding-right: 12px;
  border-right: 1px solid #ebecf3;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #fff; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
input[type=checkbox]{
  zoom: 1.5;
}
.tbl-cell{
  font-weight: 600;
  font-size: 19px;
}
i{
  color: white;
}
.item-content{

  color: #919fa9;
  font-size: 14px;

}
.item-loc{
  color: #919fa9;
  font-size: 14px;
}
hr{
  margin: 0!important;
}
.list-item1{
  margin-right: 20px;
  color: #000;
  font-weight: 700;
  font-size: 15px;
}
.right-item{
  color: #919fa9;
  font-size: 14px;
}
.btn-success{
  background: black;
  border-radius: 50px;
  border-color: black;
  padding: 8px 26px;
  margin-top: 3px;
  -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)!important;
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)!important;
}
md-tab-header{
  background-color: black;
}
.md-form-field-infix {
  padding:.4375em 0!important;
}
input.mat-input-element {
  margin-top: 1.1375em!important;
}