<form class="user-add-ingo-form modal-form" enctype="multipart/form-data" [formGroup]="users">
<div>
  <mat-form-field class="example-full-width">
  <input type="text" matInput placeholder="title"  formControlName="title"  value="{{rfm.title}}">
</mat-form-field>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
  <input type="text" matInput placeholder="Category"  formControlName="cat"  value="{{rfm.brand_name}}">
</mat-form-field>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Description"  formControlName="des"  value="{{rfm.description}}">
  </mat-form-field>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Status"  formControlName="stat"  value="{{rfm['status']}}">
  </mat-form-field>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Q#1"  formControlName="question1"  value="{{rfm['question1']}}">
  </mat-form-field>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
     <input type="text" matInput placeholder="A#1"  formControlName="answer1"  value="{{rfm['answer1']}}">
  </mat-form-field>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Q#2"  formControlName="question2"  value="{{rfm['question2']}}">
</mat-form-field>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
  <input type="text" matInput placeholder="A#2"  formControlName="answer2"  value="{{rfm['answer2']}}">
</mat-form-field>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
<mat-form-field class="example-full-width">
  <input type="text" matInput placeholder="Q#3"  formControlName="question3"  value="{{rfm['question3']}}">
</mat-form-field>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 mb-4">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="A#3"  formControlName="answer3"  value="{{rfm['answer3']}}">
  </mat-form-field>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 text-right">
    <button type="submit" (click)="new()" class="btn btn-rounded">
      Update
    </button>
</div>
</form>