<section class="d-flex">
    <div class="facebook-sidebar p-0">
    
    
    <user-sidebar></user-sidebar>
    </div>
    <div class="facebook-content" >
<section>
  <div class="rfm-details">
    <div class="header_rfm">
      <h2 class="m-0 p-2 text-white text-center">RFM Details</h2>
    </div>
    <form class="user-add-ingo-form modal-form" enctype="multipart/form-data" [formGroup]="users">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Title" #title value="{{rfm.title}}">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="URL" #url value="{{rfm.urlofproduct}}">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Category" #cat value="{{rfm.category}}" required>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
          <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="offer"  #offer  value="{{rfm['offer_to_influencer']}}">
            </mat-form-field>
      </div>
      <div class="col-sm-6">
          <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Status"  #stat  readonly="readonly" value="{{rfm['status']}}">
            </mat-form-field>
      </div>
      <div class="col-sm-4">
        <div class="row m-0">
          <div class="col-sm-12 p-0">
              <mat-form-field class="example-full-width">
                  <textarea type="text" matInput placeholder="Q#1"  #question1  value="{{rfm['question1']}}"></textarea>
              </mat-form-field>
          </div>
          <div class="col-sm-12 p-0">
              <mat-form-field class="example-full-width">
                  <textarea type="text" matInput placeholder="A#1"  #answer1  value="{{rfm['answer1']}}"></textarea>
               </mat-form-field>
            </div>
        </div>
        
      </div>
      <div class="col-sm-4">
          <div class="row m-0">
              <div class="col-sm-12 p-0">
                  <mat-form-field class="example-full-width">
                      <textarea type="text" matInput placeholder="Q#2"  #question2  value="{{rfm['question2']}}"></textarea>
                  </mat-form-field>
              </div>
              <div class="col-sm-12 p-0">
                  <mat-form-field class="example-full-width">
                      <textarea type="text" matInput placeholder="A#2"  #answer2  value="{{rfm['answer2']}}"></textarea>
                    </mat-form-field>
                </div>
            </div>
        
      </div>
      <div class="col-sm-4">
          <div class="row m-0">
              <div class="col-sm-12 p-0">
                  <mat-form-field class="example-full-width">
                      <textarea type="text" matInput placeholder="Q#3"  #question3  value="{{rfm['question3']}}"></textarea>
                    </mat-form-field>
              </div>
              <div class="col-sm-12 p-0">
                  <mat-form-field class="example-full-width">
                      <textarea type="text" matInput placeholder="A#3"  #answer3 value="{{rfm['answer3']}}"></textarea>
                    </mat-form-field>
                </div>
            </div>
      </div>
      <div class="col-sm-12">
          <mat-form-field class="example-full-width">
              <textarea type="text" class="descTextarea" matInput placeholder="Description"   #des  value="{{rfm.description}}"></textarea>
            </mat-form-field>
      </div>
      <div class="col-sm-12 d-flex flex-wrap ">
        <div class="uploadedImg">
          <img src="{{rfm.pictures}}" alt="img">
        </div>
      </div>
      

      <div class="col-sm-12 text-center">
          <button type="submit" (click)="updaterfm(title.value,url.value,cat.value,des.value,
          question1.value,answer1.value,
          question2.value,answer2.value,
          question3.value,answer3.value
          ,offer.value
          )" class="btn btn-primary">
            Update
          </button>

      </div>    
    </div>
    </form>
  </div>
</section>
</div>




