<div class="page-content" style="padding-right:15px;">
  <div class="row">
    <div class="container-fluid ">
      <mat-tab-group>


        <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
          <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Category Search
									</span>
          </ng-template>
          <div class="body">


            <div class="row">
              <div class="col-md-3">
                <h6 class="influencer-hading"> Instagram Influencers</h6>
              </div>
              <div class="col-md-6 text-center p-auto">

                <mat-form-field class="example-full-width">
                  <input type="text" class="form-control" placeholder="Select Category" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getYTChannels($event)">
                    <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>


              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
          <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
										<i class="fa fa-fire"></i>
                                    Advanced Search
									</span>
          </ng-template>
          <div class="body">
            <div class="container">
                <form (submit)="setPage(1)" class="m-0">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-select  name="selected_choice"  [(ngModel)]="selected_category" (change)="getCatName($event)"
                                        placeholder="Select Category" style="width:75%">
                                <mat-option *ngFor="let choice of options" [value]="choice">{{ choice }}</mat-option>
                            </mat-select>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text"[(ngModel)]="name" placeholder="Serch by Title/Name" name="contact">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="following" placeholder="Serch by Subscribers" name="social">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="follower" placeholder="Serch by Total Views" name="seo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="account_rank" placeholder="Serch by Rank" name="loc">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="post" placeholder="Serch by Today Upload Videos" name="er">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-md-4 text-right">
                            <button type="submit"  class="btn btn-primary" >
                                Search <i class="fa fa-sliders"></i>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="row" *ngIf="!loaded" style="margin-top: 2%">
    <div class="col-md-12 center">
      <h4 class="m-0">Featured Instagram Influencers</h4>
    </div>

  </div>
  <div class="row"  >
   

  </div>


  <div class="container-fluid" *ngIf="!loaded">

    <div class="row" id="myHeader">
      <div class="col-md-12 list-row">
          
            <!--<button  class="btn btn-success">Select All</button>-->
            <div id="ck-button">
              <label>

                <input type="checkbox" class="checkbox"  (change)="cheakalldef($event.target.checked)" ><span>Select All</span>
              </label>
            </div>
        
         
        
            <button  class="btn  add-to-list pull-right"  (click)="add_create_list()"> Add to list</button>
         
         
          <div class="col-md-12">
              <!-- <h5 >Displaying {{fbinfluencers.results.length}} of {{fbinfluencers.totalItems}} Results</h5> -->
          </div>
   
      </div>
    </div>

    
  













    <div class="profile-container" *ngFor="let item of default_influencers.results" >
      <div class="row">


          <div class="col-md-1 profile-checkbox" type="checkbox">
              <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
              <label for="table-check-{{item['id']}}"></label>
          </div>

<div class="col-md-1 followers-division">

<img [src]="item['image_url']"  class="twitter-image">
</div>
          <div class="col-md-1 followers-division">
      
              
                      <h6 class="m-1">Follower</h6>
                  <h3 class="Follwers-div" >{{item['follower']| thousandSuff}}</h3>
              
          </div>
                  <div class="col-md-9">
                      <div class="title-name">
                        <div class="d-flex">
                          <img class="social-icon2" src="../../assets/header-images/Insta@1x-.png">
                          <label class="tbl-cell tbl-cell-name">{{item['name']}}</label>
                      <label class="tbl-cell tbl-cell-name">{{item['user_name']}}</label>
                      </div>
                      <div class="ml-4">
                      <label class="item-content" *ngIf="item.description.length>0"  title="{{item['description']}}">{{item['description']}}</label>
                   <div>   
              <label class="item-loc"><i class="fab fa-instagram" ></i>Profile Link:  <a (click)="goToMedium(item['account_link'])">{{item['account_link']}}</a></label>
              </div>
              <div>
              <label class="item-loc"><i class="fa fa-map-marker marker-icon" ></i>External url<span class="list-item1" (click)="goToMedium(item['external_url'])"> {{item['external_url']}}</span></label>
            </div>
              </div>
                      </div>
                      <div class="row">
                  <div class="col-md-6">
                      <div class="ml-4">
                          <span class="right-item"><i class="fa fa-user" ></i> Username:</span> <span class="list-item1">{{item['username']}}</span>
                              </div>
                              <div class="ml-4">
                                <span class="right-item"> <i class="fa fa-eye" ></i> Following:</span> <span class="list-item1">{{item['following']}}</span>
                              </div>
                  </div>
          
                  <div class="col-md-6"  >
                      <div>
                        <span class="right-item"><i class="fas fa-chart-bar"></i>Rank:</span> <span class="list-item1">{{item['account_rank']}}</span>
              
              </div>
              <div>
             
                  <span class="right-item"><i class="fas fa-random"></i>posts</span> <span class="list-item1">{{item['posts']}}</span>   
                      </div>
                  </div>
              </div>
                  </div>
          </div>
      </div> 
  </div>

  <div class="container-fluid" *ngIf="loaded && influencers.totalItems==0">
    <div class="box-typical box-typical-full-height" style="min-height: 119px;">
      <div class="add-customers-screen tbl" style="height: 119px;">
        <div class="add-customers-screen-in">
          <div class="add-customers-screen-user">
            <i class="font-icon font-icon-user"></i>
          </div>
          <h2>OOPS!</h2>
          <p class="lead color-blue-grey-lighter">No search results are found<br> try another category.</p>
          <!--<a href="#" class="btn">Add customer</a>-->
        </div>
      </div>
    </div><!--.box-typical-->
  </div>



  <div class="container-fluid" *ngIf="loaded&& influencers.totalItems!=0">

    <div class="row" id="myHeader">
      <div class="col-md-12 list-row p-2" >
        <div class="row">
          <div class="col-md-2">
            <!--<button  class="btn btn-success">Select All</button>-->
            <div id="ck-button">
              <label>

                <input type="checkbox" class="checkbox"  (change)="cheakall($event.target.checked)" ><span>Select All</span>
              </label>
            </div>
          </div>
          <div class="col-md-8 "  *ngIf="loaded&& influencers.totalItems!=0">
              <nav class="text-center">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">
    
                  <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
                  <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
                  <!--</li>-->
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                      First
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
    
                  <li class="page-item" *ngFor="let page of pager.pages"
                      [ngClass]="{active:pager.currentPage === page}"
                      (click)="setPage(page)"><a class="page-link" (click)="navSearch()">{{page}}</a></li>
                  <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                  <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
                  <!--</li>-->
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                      Last
                    </a>
                  </li>
                  <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                  <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                  <!--</li>-->
                </ul>
              </nav>
       
    

      </div>







          <div class="col-md-2">
            <button  class="btn add-to-list" (click)="add_create_list()"> Add to list</button>
          </div>
          </div>
        </div>
      </div>


 
    <div class="profile-container" *ngFor="let item of influencers.results" >
      <div class="row">


          <div class="col-md-1 profile-checkbox" type="checkbox">
              <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
              <label for="table-check-{{item['id']}}"></label>
          </div>

<div class="col-md-1 followers-division">

<img [src]="item['image_url']"  class="twitter-image">
</div>
          <div class="col-md-1 followers-division">
      
              <div>
                      <h6 class="m-1">Follower</h6>
                  <h3 class="Follwers-div" >{{item['follower']| thousandSuff}}</h3>
              </div>
          </div>
                  <div class="col-md-9">
                      <div class="title-name">
                        <div class="d-flex">
                          <img class="social-icon2" src="../../assets/header-images/Insta@1x-.png">
                          <label class="tbl-cell tbl-cell-name">{{item['name']}}</label>
                      <label class="tbl-cell tbl-cell-name">{{item['user_name']}}</label>
                      </div>
                      <div class="ml-4">
                      <label class="item-content"  title="{{item['description']}}">{{item['description']}}</label>
                   <div>   
              <label class="item-loc"><i class="fas fa-globe"></i>Profile Link:  <a (click)="goToMedium(item['account_link'])">{{item['account_link']}}</a></label>
              </div>
              <div >
              <label class="item-loc"><i class="fa fa-map-marker marker-icon" ></i>External url<span class="list-item1" (click)="goToMedium(item['external_url'])" > {{item['external_url']}}</span></label>
            </div>
              </div>
                      </div>
                      <div class="row">
                  <div class="col-md-6">
                      <div class="ml-4">
                          <span class="right-item"><i class="fa fa-user" ></i> Username:</span> <span class="list-item1">{{item['name']}}</span>
                              </div>
                              <div class="ml-4">
                                <span class="right-item"> <i class="fa fa-eye" ></i> Following:</span> <span class="list-item1">{{item['following']}}</span>
                              </div>
                  </div>
          
                  <div class="col-md-6"  >
                      <div>
                        <span class="right-item"><i class="fas fa-chart-bar"></i> Rank:</span> <span class="list-item1">{{item['account_rank']}}</span>
              
              </div>
              <div>
             
                  <span class="right-item"><i class="fas fa-random"></i>Posts</span> <span class="list-item1">{{item['posts']}}</span>   
                      </div>
                  </div>
              </div>
                  </div>
          </div>
      </div> 
      <div class="col-md-12 p-2 "  *ngIf="loaded&& influencers.totalItems!=0">
          <nav class="text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">

              <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
              <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
              <!--</li>-->
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                  First
                </a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li class="page-item" *ngFor="let page of pager.pages"
                  [ngClass]="{active:pager.currentPage === page}"
                  (click)="setPage(page)"><a class="page-link" (click)="navSearch()">{{page}}</a></li>
              <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
              <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
              <!--</li>-->
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                  Last
                </a>
              </li>
              <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
              <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
              <!--</li>-->
            </ul>
          </nav>
   


  </div>




  </div>



  <div class="container-fluid" *ngIf="loaded">

  </div>

</div>

