<div class="container-fluid" >

  <div class="row" id="myHeader">
      <div class="col-md-12 row">
        <div class="col-md-3">
          <div id="ck-button">
            <label>

              <input type="checkbox" class="checkbox"  (change)="cheakall($event.target.checked)" ><span>Select All</span>
            </label>
          </div>
        </div>
        <div class="col-md-9 text-right">
          <button  class="btn btn-lg add-to-list" (click)="add_create_list()"> Add to list</button>

        </div>
      </div>
      <div class="col-md-6 text-right">
        <h5 style="margin: 10px; color: gray; ">Displaying {{influencers.results.length}} of {{influencers.totalItems}} Results</h5>

      </div>
    </div>

  <div class="profile-container" *ngFor="let item of influencers.results" >
      <div class="row main-div">




          <div class="col-md-3 like-row image-area">
              <!--border-right: 1px solid #ebecf3;*-->

              <div class="p-checkbox" type="checkbox">
                  <input type="checkbox" style="display: flex" name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                  <label for="table-check-{{item['id']}}"></label>
              </div>

              <div class="like-area" >
                  <p class="num">{{item['likes'] | thousandSuff}}</p>
                  <p class="text">Likes </p>

              </div>
          </div>
          <div class="col-md-9 detail-area">
              <h3 class="">
                  <img src="../../assets/img/facebook.png">
                  <!--<img src="../../assets/homepage/images/facebook_24.png">-->
                  {{item['title']}}
              </h3>

              <div class="row" style="padding-top: 8px; margin-top: 10px">
                  <div class="col-md-2 text-left">
                      <label class="item-loc"> <i class="fa fa-map-marker"></i> {{item['category']['location']}}</label>

                  </div>
                  <div class="col-md-6 text-left">

                      <label class="item-loc" (click)="getEmail(item)" data-target="#modalCompose" data-toggle="modal"> <i class="fa fa-envelope" ></i> Email: <a >{{item['email']}}</a></label>
                  </div>
                  <div class="col-md-4 text-left">

                      <label class="item-loc"> <i class="fa fa-tags"></i> Category: <a >{{item['category']['name']}}</a></label>
                  </div>
              </div>
              <hr style="color: #555555">
              <div class="row item-loc" >
                  <div class="col-md-4" >

 <span class="right-item"><i class="fa fa-line-chart" ></i>
 Engagement Rate:</span>
                      <span *ngIf="item['ER']<25" class="list-item1"><span class="label label-danger" style="background: #cc0000">Poor {{item['ER']}}</span></span>
                      <span *ngIf="item['ER']>25 && item['ER']<50" class="list-item1"><span class="label label-primary" style="background: #cc0000">Normal {{item['ER']}}</span></span>
                      <span *ngIf="item['ER']>50" class="list-item1"><span class="label label-success"><small>Perfect</small> {{item['ER']}}</span></span>

                  </div>
                  <div class="col-md-4" >
                      <span class="right-item"><i class="fa fa-barcode" ></i> Performance:</span> <span class="list-item1">{{item['PTAT'] | thousandSuff}}</span>
                  </div>


                  <div class="col-md-4" *ngIf="item['phone']">

                      <span class="right-item"> <i class="fa fa-phone" ></i> Phone:</span> <span class="list-item1">{{item['phone']}} </span>
                  </div>
                  <div class="col-md-4" *ngIf="!item['phone']">

                      <span class="right-item"> <i class="fa fa-phone" ></i> Phone:</span> <span class="list-item1">N/A </span>
                  </div>

              </div>

              <hr style="color: #555555">
              <div class="row item-loc" >
                  <div class="col-md-8" *ngIf="item['web_link']">
                      <span class="right-item" ><i class="fa fa-globe" ></i> Web:</span> <span class="list-item1">{{item['web_link']}} </span>
                  </div>
                  <div class="col-md-8" *ngIf="!item['web_link']">
                      <span class="right-item" ><i class="fa fa-globe" ></i> Web:</span> <span class="list-item1">N/A </span>
                  </div>
                  <div class="col-md-4">
                      <span class="right-item"><i class="fa fa-bar-chart" ></i> Like Ranks:</span>
                      <span *ngIf="item['LikeRank'] =='Good'" class="list-item1"><span class="label label-success">{{item['LikeRank']}}</span> </span>
                      <span *ngIf="item['LikeRank'] =='Not Good'" class="list-item1"><span class="label label-danger" style="background: #cc0000">{{item['LikeRank']}}</span> </span>

                  </div>

              </div>
              <hr style="color: #555555">
              <div class="item-loc" >
                  <ul style="display: flex; justify-content: space-between">
                      <li>
                          <span class="right-item" ><i class="fa fa-facebook-f" ></i> Page:</span> <span class="list-item1">{{item['fb_page_link']}} </span>
                      </li>

                  </ul>
              </div>

          </div>

      </div>
  </div>
</div>

<div class="row">
<div class="col-md-12 text-center" style="margin-top: 1%">
  <nav>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">

      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)" aria-label="Previous">
          First
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li class="page-item" *ngFor="let page of pager.pages"
          [ngClass]="{active:pager.currentPage === page}"
          (click)="setPage(page)"><a class="page-link">{{page}}</a></li>

      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
          Last
        </a>
      </li>

    </ul>
  </nav>
</div>
</div>