
<div class="sidebar-holder side-bar-component" id="side">
        <div class="sidebar-admin">
    
                <div class="user-sidebar">
                  
                        <ul class="m-0">


                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_names_fb()"> <img class="dropdown-images"
                                                        src="../../assets/header-images/Fb@1x-.png">facebook
                                                Campaign</a>
                                </li>
                                <li>
            
                                        <a [routerLink]="['/dashboard']" (click)="get_value_names_yt()"> <img class="dropdown-images"
                                                        src="../../assets/header-images/YouTube@1x-.png">Youtube
                                                Campaign</a>
                                </li>
                                 <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_names_in()"> <img class="dropdown-images"
                                                        src="../../assets/header-images/Insta@1x-.png">instagram
                                                Campaign</a>
                                </li>
            
                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value()"><img class="dropdown-images" 
                                                        src="../../assets/header-images/Twitter@1x-.png">Twitter
                                                Campaign</a>
                                </li>
                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_dd()"><img class="dropdown-images"
                                                        src="../../assets/header-images/Blog@1x-.png">Blogosphere
                                                Campaign</a>
                                </li>
            
                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_names_pt()"><img class="dropdown-images"
                                                        src="../../assets/header-images/Pin@1x-.png">Pinterest
                                                Campaign</a>
                                </li>
            
                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_meduim()"><img class="dropdown-images" 
                                                        src="../../assets/header-images/medium.png">Medium Campaign</a>
                                </li>
                                <li>
                                        <a [routerLink]="['/dashboard']" (click)="get_value_names_fl()"> <img class="dropdown-images"
                                                        src="../../assets/header-images/flickr_32.png">Flicker
                                                Campaign</a>
                                </li>
            
                        </ul>
                </div>
        </div>
        <div class="m-0 row mt-2 text-center">
                <div class="col-sm-6"><button routerLink="/dashboard" class="btn btn-primary w-50"> Back </button>    </div>
              </div>
    </div>



<div class="page-content">
        
    <div class="container-fluid" *ngIf="loaded && ptProfiles.totalItems==0">
        <div class="box-typical box-typical-full-height">
            <div class="add-customers-screen tbl">
                <div class="add-customers-screen-in p-4">
                    <div class="add-customers-screen-user">
                        <i class="font-icon font-icon-user"></i>
                    </div>
                    <h2>OOPS</h2>
                    <p class="lead color-blue-grey-lighter">Zero influencers in the list.<br> Add some influencers <strong></strong></p>
                </div>
            </div>

        </div>
    </div>
        <div class="text-center" *ngIf="loaded&& ptProfiles.totalItems!=0">

                <nav>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">

                        <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
                        <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
                        <!--</li>-->
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link" (click)="setPage(1)" aria-label="Previous">
                                First
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                            <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item" *ngFor="let page of pager.pages"
                            [ngClass]="{active:pager.currentPage === page}"
                            (click)="setPage(page)"><a class="page-link">{{page}}</a>
                        </li>
                        <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                        <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
                        <!--</li>-->
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
                                Last
                            </a>
                        </li>
                        <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                        <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                        <!--</li>-->
                    </ul>
                </nav>
    </div>
    <div class="container-fluid" *ngIf="loaded&& ptProfiles!=0">

        <div class="row" id="myHeader">
            <div class="col-md-12 list-row">
                <div class="row">
                    <div class="col-md-12">
                        <!--<button  class="btn btn-success">Select All</button>-->
                        <div id="toolbar">

                            <!--<button  style="width:70%;font-size: x-large;font-weight: bold;" class="btn btn-rounded">Login</button>-->

                            <inline-editor [disabled]="loading" class="bootstrap-table-header" type="text" [(ngModel)]="listName" min="1"
                                           max="30" [fnErrorLength]="myHandleError" (onSave)="saveEditableList($event)" name="editableText1" size="30"></inline-editor>
                            <img *ngIf="loading"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAA
                        GJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJ
                        CgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAd
                        Ka+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7W
                        EYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhm
                        KtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZf
                        hYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunI
                        nK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEA
                        AQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJC
                        gAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLW
                        zpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtq
                        lAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            <button  class="btn btn-success" (click)="deleteSelected()">
                                <!--<i class="font-icon font-icon-close-2"></i> -->
                                Delete selected
                            </button>
                            <button  class="btn btn-success" (click)="clear_list()">
                                <!--<i class="font-icon font-icon-close-2"></i> -->
                                Clear selected
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="profile-container" *ngFor="let item of ptProfiles.results" >
            <div class="row">
                <div class="col-md-2 profile-checkbox" type="checkbox">
                    <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="infList[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                </div>
                <div class="col-md-2 text-center">
                    <img [src]="item['image']"  style="height: 100px;  width: 100px; margin-top: 15px; border-radius: 100%">
                </div>


                <div class="col-md-8" style="margin-left: 3%">
                    <div class="row">
                        <label class="tbl-cell tbl-cell-name">{{item['profile_name']}}</label>
                    </div>
                    <div class="row" style="padding-top: 8px">
                        </div>
                    <div class="row" style="padding-top: 8px">
                        <div class="col-md-3 text-left">
                            <label class="item-loc" *ngIf="item['location']"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i>  <span class="list-item1"> {{item['location']}}</span></label>
                            <label class="item-loc" *ngIf="!item['location']"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i>  <span class="list-item1"> N/A</span></label>

                        </div>
                        <div class="col-md-9 text-left">

                            <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Profile Url:  <a style="color: #0a6aa1; font-weight: bolder">{{item['profile_linked']}}</a></label>
                        </div>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">
                            <!-- <li><span class="right-item"><i class="fa fa-users" style="font-size:16px;color:#0a4069"></i> Follower:</span> <span class="list-item1">{{item['followers']}} |  </span> </li> -->
                            <li>
                                    <span class="right-item"><i class="fa fa-users" ></i> Follower:</span>
                                    <!--<span class="list-item1">{{item['followers']}}   </span>-->
    
                                    <span *ngIf="item['followers']<100" class="list-item1"><span class="label label-danger"><small>Poor</small> {{item['followers']| thousandSuff}}</span></span>
                                    <span *ngIf="item['followers']>100 && item['followers']<1000" class="list-item1"><span class="label label-primary"><small>Normal</small> {{item['followers']| thousandSuff}}</span></span>
                                    <span *ngIf="item['followers']>1000" class="list-item1"><span class="label label-success"><small>Perfect</small> {{item['followers']| thousandSuff}}</span></span>
    
                                </li>
    
                            <li><span class="right-item"> <i class="fa fa-eye" style="font-size:16px;color:#0a4069"></i> Following:</span> <span class="list-item1">{{item['following']}} |   </span></li>
                            <li><span class="right-item"><i class="fa fa-bar-chart" style="font-size:16px;color:#0a4069"></i> Boards:</span> <span class="list-item1">{{item['boards']}}</span></li>
                            <!-- <li><span class="right-item"><i class="fa fa-user" style="font-size:16px;color:#0a4069"></i> Pins:</span> <span class="list-item1">{{item['pins']}}</span></li> -->

                            <li><span class="right-item"><i class="fa fa-user" ></i> Pins:</span>
                                <!--<span class="list-item1">{{item['pins']}}</span>-->

                                <span *ngIf="item['pins']<100" class="list-item1"><span class="label label-danger"><small>Poor</small> {{item['pins']| thousandSuff}}</span></span>
                                <span *ngIf="item['pins']>100 && item['pins']<1000" class="list-item1"><span class="label label-primary"><small>Normal</small> {{item['pins']| thousandSuff}}</span></span>
                                <span *ngIf="item['pins']>1000" class="list-item1"><span class="label label-success"><small>Perfect</small> {{item['pins']| thousandSuff}}</span></span>



                            </li>

                        </ul>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
