

#myrfm{
  padding: 100px 10px;
  min-height: 90vh;
  .rfm-wrap{
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    .rfm_img{
      img{
        border-radius: 5px 5px 0 0;
        height: 168px;
        object-fit: cover;
      }
    }
    .box {
      height: 72px; 
      overflow: hidden;
    }
    
    .box p {
      display            : block;
      display            : -webkit-box;
      -webkit-box-orient : vertical;
      position           : relative;
    
      line-height        : 1.2;
      overflow           : hidden;
      text-overflow      : ellipsis;
      padding            : 0 !important;
    }
    .line-clamp-3 {
      -webkit-line-clamp: 3;
      height: calc(1em * 1.2 * 3);
    }
  }
  .font-12{
    font-size: 12px;
  }
  .btn-117{
    min-width: 117px;
  }
}
